@import 'tailwindcss';

:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('/fonts/Montserrat-Bold.otf') format('opentype');
  font-style: normal;
}

/* Montserrat Regular */
.montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

/* Montserrat Bold */
.montserrat-bold {
  font-family: 'Montserrat-bold', sans-serif;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.hausba-orange {
  color: #ff6f3c;
}

.hausba-grey {
  color: #686666;
}

.hausba-orange-border {
  border-color: #ff6f3c;
}

.hausba-orange-bg {
  background-color: #ff6f3c;
}

.hausba-grey-bg {
  background-color: #686666;
}
